<div id="fb-root"></div>
@using (Script.Foot()) {
    <script type="text/javascript">
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/@Model.Culture/sdk.js#xfbml=1&appId=@Model.AppId&version=v2.0";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    @*<script type="text/javascript">
        (function ($) {
            $(function () {
                $.facebookSuite.initialize("@Model.AppId", "@Model.Culture");
            });
        })(jQuery);
    </script>*@
}